@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  background-image: url(https://res.cloudinary.com/purplefix/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1645506502/thevillagefarm/website/thevillagefarm-bg.jpg);
  background-position: top top;
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: cover;
  margin: 0;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgb(211, 169, 90);
  background: linear-gradient(
    0deg,
    rgba(212, 200, 85, 0.479) 0%,
    rgba(206, 180, 63, 0.055) 50%,
    rgba(88, 207, 191, 0.137) 100%
  );
}

.container {
  width: 100%;
  margin: 15% auto;
  background-color: rgba(47, 79, 79, 0.747);
    padding: 10px 5px 50px;
    border-radius: 6px;
}
.col-4 {
  width: 25%;
  float: left;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 768px) {
  .container {
    width: 1100px;
  }
  h1 {
    font-size: 58px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(https://res.cloudinary.com/purplefix/image/upload/e_improve,w_300,h_600,c_thumb,g_auto/v1645506502/thevillagefarm/website/thevillagefarm-bg.jpg);
  }
  .container{
    margin-top: 200px;
  }
}
